
  
  /* Estilos Globais */
  body {
    font-family: 'Inter', sans-serif;
    background-color: #8CB0C8;
    border: #00F9EA;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;

  }
  
  
  .cadastro {
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 80px;
  }
  
  .main-container {
    display: grid;
    background-color: #e7e6e6;
    border: #00F9EA solid;
    border-radius: 20px;
    align-items: center;
    margin-top: 380px;
  } 
  
  .form-container {
    width: 400px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-title {
    font-size: 35px;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
    height: 100px;
    margin-top: auto;  
  }
  
  .form-group {
    background-color: #e7e6e6;
    border-radius: 50px;
    width: 100%;
    color: #000;
    margin-bottom: 20px;
  }
  
  .form-label {
    background-color: #e7e6e6;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: #ffffff;
    border: 2px solid #00F9EA;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: -110px;
  }
  
  .submit-button:hover {
    background-color: #5ceffa;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
  }
  
  .login-link {
    color: #000000;
    text-decoration: underline;
    transition: color 0.2s;
  }
  
  .login-link:hover {
    color: #004df3;
  }
  @media (min-width: 1001px ) and (max-width: 1800px) {

    body {
      height: 100vh; /* Ocupa toda a altura visível da tela */
      margin: 0; /* Remove margens padrão */
      width: 100%;
      align-items: center;
    }
    
    .cadastro {
      border-radius: 20px;
      width: 100px;
      height: 30px;
      right: 20px;
      font-size: 20px;
      font-weight: 10vw;
    }
    .login {
      border-radius: 20px;
      width: 100px;
      height: 30px;
      right: 10px;
      font-size: 20px;
    }
    
    
    .header {
      width: 100%;
      top: 0;
      left: 0;
      height: 100px; /* Altura padrão do header */
      align-items: center;
    }
    .logo {
      height: 110px; /* Ajusta a altura da logo para ocupar todo o header */
      width: auto;
      position: relative;
      left: 0px;
    }
    .welcome-text {
      font-size: 0px;
      font-weight: 800;
      margin: 0 auto;
      right: -50px;
    }
    #btnLogin{
      width: 20vw;
      height: 7vh;
      border-radius: 50px;
      padding-left: 10px;
      box-shadow: inset 0 0 10px rgba(0,0,0, .8);
      border: 2px solid #fff;
      font-size: 2rem;
    }
    .botoes{
      display: flex;
      justify-content: space-around;
    }
    
    .main-container {
      max-width: 600px;
      width: 300px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 300px;
      border-radius: 8px;
    }
    h2 {
      margin-bottom: 20px;
    }
    
    form {
      display: flex;
      flex-direction: column;
    }
    
    label {
      margin-bottom: 5px;
    }
    input[type="email"],
    input[type="password"] {
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      font-size: 16px;
    }
  
  }  