
  
  /* Estilos Globais */
  body {
    font-family: 'Inter', sans-serif;
    background-color: #8CB0C8;
    border: #00F9EA;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;

  }
  
  
  .cadastro {
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 80px;
  }
  
  .main-container {
    display: grid;
    background-color: #e7e6e6;
    border: #00F9EA solid;
    border-radius: 20px;
    align-items: center;
    margin-top: 380px;
  } 
  
  .form-container {
    width: 400px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-title {
    font-size: 35px;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
    height: 100px;
    margin-top: auto;  
  }
  
  .form-group {
    background-color: #e7e6e6;
    border-radius: 50px;
    width: 100%;
    color: #000;
    margin-bottom: 20px;
  }
  
  .form-label {
    background-color: #e7e6e6;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: #ffffff;
    border: 2px solid #00F9EA;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: -110px;
  }
  
  .submit-button:hover {
    background-color: #5ceffa;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
  }
  
  .login-link {
    color: #000000;
    text-decoration: underline;
    transition: color 0.2s;
  }
  
  .login-link:hover {
    color: #004df3;
  }
  @media (min-width: 1001px ) and (max-width: 1800px) {

    body {
      height: 100vh; /* Ocupa toda a altura visível da tela */
      margin: 0; /* Remove margens padrão */
      width: 100%;
      align-items: center;
    }
    
    .cadastro {
      border-radius: 20px;
      width: 100px;
      height: 30px;
      right: 20px;
      font-size: 20px;
      font-weight: 10vw;
    }
    .login {
      border-radius: 20px;
      width: 100px;
      height: 30px;
      right: 10px;
      font-size: 20px;
    }
    
    
    .header {
      width: 100%;
      top: 0;
      left: 0;
      height: 100px; /* Altura padrão do header */
      align-items: center;
    }
  
  }  