body {
    font-family: 'Inter', sans-serif;
    background-color: #8CB0C8;
    border: #00F9EA;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;

  }