/* Estilos Globais */
body {
  font-family: 'Inter', sans-serif;
  background-color: #8CB0C8;
  color: #fff;
  border: #00F9EA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza verticalmente o conteúdo */
  height: 100vh; /* Ocupa toda a altura visível da tela */
  margin: 0; /* Remove margens padrão */
}

.header {
  width: 100%;
  background-color: #8CB0C8;
  color: #fff;
  border: #00F9EA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed; /* Fixa o header no topo */
  top: 0;
  left: 0;
  z-index: 1000; /* Garante que o header esteja acima de outros elementos */
  height: 70px; /* Altura padrão do header */
}

.logo {
  height: 100%; /* Ajusta a altura da logo para ocupar todo o header */
  width: auto;
}

.welcome-text {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin: 0 auto;
}



.form-container {
  background-color: #e7e6e6;
  color: #000000;
  border: 2px solid #00F9EA;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px; /* Largura ajustada para telas menores */
  margin-top: 80px; /* Aumenta a margem superior para evitar sobreposição com o header */
  position: relative;
  font-size: 16px;
  margin-top: 500px;
  
}


.container-quiz {
  background-color: #e7e6e6;
  color: #000000;
  border: 2px solid #00F9EA;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px; /* Largura ajustada para telas menores */
  margin-top: -90px; /* Aumenta a margem superior para evitar sobreposição com o header */
  position: relative;
  font-size: 16px;
  height: 340px;
  text-align: center;

}

.quiz-png {
  height: 250px; /* Ajusta a altura da logo para ocupar todo o header */
  width: 400px;
}


